# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Output & cache folders
outputs/
*.log
*.tmp
*.bak

# Jupyter Notebooks checkpoints (if ever used)
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# PDF or exported files
*.pdf

# VSCode settings (if used)
.vscode/